<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTTP</title>
</head>
<body>
    <h1>HTTP란 무엇일까?</h1>
    <h3>Contents</h3>
    <ul>
        <li>HTTP란?</li>
        <li>Header</li>
        <li>Request Message</li>
        <li>Response Message</li>
    </ul>

    <h3>HTTP란?</h3>
    <img src="./../public/img/HTTP_logo.png" alt="HTTP 이미지" />
</body>
</html>